<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Invoice List -->
    <section class="invoice-list-wrapper">
      <div class="card">
        <!-- Invoice List Header -->
        
        <!--/ Invoice List Header -->

        <!-- Invoice List Table -->
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="#" prop="id" [width]="50">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <a routerLink="/apps/invoice/preview/{{ id }}" class="font-weight-bold">#{{ id }}</a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="date" prop="date" [width]="200"></ngx-datatable-column>
          <!--<ngx-datatable-column name="id" prop="id" [width]="50"></ngx-datatable-column>-->
         
          <ngx-datatable-column name="client" prop="patient.firstname" [width]="250"></ngx-datatable-column>
            <ngx-datatable-column name="lastname" prop="patient.lastname" [width]="250"></ngx-datatable-column>
          
          <ngx-datatable-column name="Total" prop="patient.lastname" [width]="50">
            <ng-template let-total="value" ngx-datatable-cell-template>
              <div>
                $
                {{ lastname }}
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Issued Date" prop="issuedDate" [width]="100"> </ngx-datatable-column>
          <ngx-datatable-column name="Balance" prop="balance" [width]="40">
            <ng-template let-balance="value" ngx-datatable-cell-template>
              <div class="" [ngClass]="balance == 0 ? 'badge badge-pill badge-light-success' : ' '">
                {{ balance == 0 ? 'paid' : balance }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a class="mr-1" href="javascript:void(0);" container="body" placement="top" ngbTooltip="Send Mail"
                  ><i size="18" data-feather="send"></i
                ></a>
                <a
                  class="mr-1"
                  routerLink="/apps/invoice/preview/{{ row.id }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Preview Invoice"
                  ><i size="18" data-feather="eye"></i
                ></a>
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                    <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <a href="javascript:void(0)" ngbDropdownItem><i data-feather="download" class="mr-1"></i>Download</a
                    ><a routerLink="/apps/invoice/edit/{{ row.id }}" ngbDropdownItem
                      ><i data-feather="edit" class="mr-1"></i>Edit</a
                    ><a href="javascript:void(0)" ngbDropdownItem><i data-feather="trash" class="mr-1"></i>Delete</a
                    ><a href="javascript:void(0)" ngbDropdownItem><i data-feather="copy" class="mr-1"></i>Duplicate</a>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <!--/ Invoice List Table -->
      </div>
    </section>
    <!--/ Invoice List -->
  </div>
</div>
