<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">Food Delivery</h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          class="img-fluid"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-may.jpg'
              : 'assets/images/pages/login-may.jpg'
          "
          alt="Register V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Adventure starts here 🚀</h2>
        <p class="card-text mb-2">Savor the ease and joy of managing your food deliveries with our app!</p>
        <form class="auth-register-form mt-2" name="form" (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
            <label for="register-firstname" class="form-label">Firstname</label>
            <input
              type="text"
              name="firstname"
              class="form-control"
          [(ngModel)]="form.firstname"
          required
          minlength="3"
          maxlength="20"
          #firstname="ngModel"
              placeholder="mayssa"
              aria-describedby="register-firstname"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">Firstname is required</div>
            </div>
          </div>
          <label for="register-lastname" class="form-label">Lastname</label>
            <input
              type="text"
              name="lastname"
              class="form-control"
          [(ngModel)]="form.lastname"
          required
          minlength="3"
          maxlength="20"
          #lastname="ngModel"
              placeholder="Ben Salah"
              aria-describedby="register-lastname"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
            />
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lasstname.errors.required">Lastname is required</div>
            </div>
            <label for="register-address" class="form-label">Address</label>
            <input
              type="text"
              name="address"
              class="form-control"
          [(ngModel)]="form.address"
          required
          minlength="3"
          maxlength="20"
          #address="ngModel"
              placeholder="70 AV HB"
              aria-describedby="register-address"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
            />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
            </div>

            <label for="register-phoneNumber" class="form-label">Phone Number</label>
            <input
              type="number"
              name="phoneNumber"
              class="form-control"
          [(ngModel)]="form.phoneNumber"
          required
          minlength="3"
          maxlength="20"
          #phoneNumber="ngModel"
              placeholder="(+216)"
              aria-describedby="register-address"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
            />
            <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
            </div>
          <div class="form-group">
            <label for="register-email" class="form-label">Email</label>
            <input
              type="text"
              name="email"
              class="form-control"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
              placeholder="john@example.com"
              aria-describedby="register-email"
              tabindex="2"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>

          <div class="form-group">
            <label for="register-password" class="form-label">Password</label>

            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="register-password"
                tabindex="3"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
              />

             
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <div class="form-group">
              <label class="form-label" for="user-role">User Role</label>
              <select id="role" class="form-control" [(ngModel)]="form.role" name="role">
                <option value="CLIENT">Client</option>
                <option value="ADMIN">Admin</option>
              </select>
            </div>  
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="4" />
              <label class="custom-control-label" for="register-privacy-policy">
                I agree to <a href="javascript:void(0);">privacy policy & terms</a>
              </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="5" rippleEffect>Sign up</button>
        </form>
        <p class="text-center mt-2">
          <span>Already have an account?</span
          ><a routerLink="/pages/authentication/login-v2"><span>&nbsp;Sign in instead</span></a>
        </p>
        <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a
          ><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a
          ><a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a
          ><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a>
        </div>
      </div>
    </div>
    <!-- /Register-->
  </div>
</div>
