<!-- Calendar Add/Update/Delete event modal-->
<div class="modal-dialog sidebar-lg">
  <div class="modal-content p-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleEventSidebar()">
      ×
    </button>
   <div class="modal-header mb-1">
      <h5 class="modal-title">{{ isDataEmpty === true ? 'Add' : 'Update' }} Event</h5>
    </div> 
    <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
      <form
        class="event-form needs-validation"
        (ngSubmit)="(eventForm.form.valid); eventForm.reset()"
        #eventForm="ngForm"
      >
      
       <div *ngIf="!isDataEmpty" class="form-group">

          <p>Id </p>
           {{ event.id }}
          
        </div> 
      
     <!--   <div class="form-group">
          <label for="select-label" class="form-label">Label</label>
          <ng-select
            [items]="selectLabel"
            name="selectlabel"
            [(ngModel)]="event.calendar"
            bindLabel="label"
            bindValue="label"
            required
            [class.error]="eventForm.submitted && formLabelRef.invalid"
            #formLabelRef="ngModel"
          >
            <ng-template ng-option-tmp ng-label-tmp let-item="item">
              <span class="bullet bullet-sm mr-50 bullet-{{ item.bullet }}"></span>
              {{ item.label }}
            </ng-template>
          </ng-select>
          <span *ngIf="eventForm.submitted && formLabelRef.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="formLabelRef.errors.required">Label is required!</small>
          </span>
        </div> -->
        
        <div class="form-group position-relative">
          <label for="start-date" class="form-label">Start Date</label>
          <ng2-flatpickr
            [config]="startDateOptions"
            name="startDate"
            [setDate]="event.date"
            #startDatePicker
            required
            [class.error]="eventForm.submitted"
            dateFormat="'YYYY-MM-DD hh:mm:ss'"
          ></ng2-flatpickr>
        </div>
     <!--   <div class="form-group position-relative">
          <label for="end-date" class="form-label">End Date</label>
          <ng2-flatpickr
            [config]="endDateOptions"
            name="endDate"
            [setDate]="event.end"
            #endDatePicker
            required
            [class.error]="eventForm.submitted"
          ></ng2-flatpickr>
        </div> -->
        <div *ngIf="!isDataEmpty" style="display: inline-flex;width:100% ;">
     
          <span class="nav-link nav-link-search"  >

            patient : {{ event.extendedProps.patient.firstname  }} {{ event.extendedProps.patient.lasstname  }} 
            
          </span>

          <a routerLink="/apps/patient/patient-view/{{ event.extendedProps.patient.id }}">
            <i style="float: right;" [data-feather]="'search'" [class]="'ficon'"></i>
          </a>
        </div> 

    <!--    <div style="margin-bottom: 10px;">
          <span  >
            <a routerLink="/apps/patient/patient-view/{{ event.extendedProps.patient.id }}" >

              <i class="pull-right" [data-feather]="'search'" [class]="'ficon'"></i>
            </a>
            
            patient : {{ event.extendedProps.patient.firstname  }} {{ event.extendedProps.patient.lastname  }}
          </span>
        </div>-->
       
       
       
        <div class="form-group d-flex">
          <button
            type="submit"
            class="btn btn-primary add-event-btn mr-1"
            *ngIf="isDataEmpty !== false; else addEventRef"
            (click)="addEvent(eventForm)"
            rippleEffect
          >
            Add
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary btn-cancel"
            data-dismiss="modal"
            (click)="toggleEventSidebar()"
            *ngIf="isDataEmpty !== false; else deleteEventRef"
            rippleEffect
          >
            Cancel
          </button>
          <ng-template #addEventRef>
            <button type="submit" class="btn btn-primary update-event-btn mr-1" (click)="updateEvent()" rippleEffect>
              Update
            </button>
          </ng-template>
          <ng-template #deleteEventRef>
            <button class="btn btn-outline-danger btn-delete-event" (click)="deleteEvent()" rippleEffect>Delete</button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
<!--/ Calendar Add/Update/Delete event modal-->
